# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
*.venv*
*.env.dev*
*.env.deploy*

# mac
.DS_Store
**/.DS_Store

# PyCharm project settings
.idea/
.idea

.python-version
.docker/
