# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
backend/.venv
backend/.env
backend/.env.local

# mac
.DS_Store
**/.DS_Store

# PyCharm project settings
.idea/
.idea