# Database variables for application
DB_HOST=theater_db_test
DB_PORT=5432
DB_USER=docker
DB_PASS=docker
DB_NAME=theater_db_test

# UVICRON variables
UVICORN_PORT=5000
UVICORN_APP=src.main:app
UVICORN_WORKERS=2

# Database variables for Postgres theate_db_test container
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=theater_db_test

# Common application variables
ENVIRONMENT=test
DEBUG=False

# LOGS variables
LOG_REQUEST_USER=True
LOG_JSON_FORMAT=False
